<div class="main">
  <div class="top">
    <div class="inputs">
      <form [formGroup]="form" (ngSubmit)="startGame()">
        <input type="text" placeholder="Insert time (ms)" formControlName="timeMsControl">
        <button [disabled]="form.invalid">Start</button>
      </form>
    </div>
    <div class="score">
      User: {{ score.user}} / Computer: {{ score.computer }}
    </div>
  </div>
  <div class="playground">
    <div>
      <div style="display: flex" *ngFor="let i of matrixColsAndRows">
        <div class="squares"  *ngFor="let j of matrixColsAndRows">
          <button
            #dynamicButton
            [id]="i * matrixColsAndRows.length + j"
            (click)="onUserClick(i * matrixColsAndRows.length + j)"
          >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
